.actions-section {
    background-color: rgb(239, 239, 239);
    position: absolute;
    height: 39px;
    z-index: 100;
    right: 0;
}

.mat-small-icon {
  font-size: 22px; /*18*/
  margin-left: 8px;
  color: #7a7a7a;
  cursor: pointer;
  padding-top: 7px;
}
.mat-small-icon:hover{
  color: #e07000;
}
::ng-deep mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
  display: flex;
  justify-content: flex-end;
}


.actionicon mat-icon {
  font-size: 25px;
  cursor: pointer;
  padding-right: 35px;
  color: #7a7a7a;
  padding-top: 0;
}

.actionicon mat-icon:hover {
  color: #e07000;
}

.borderleft{
  border-left: 1px solid rgba(100,121,143,0.2);
  padding-left: 14px;
}