<mat-toolbar color="primary" class="topbar telative">
  <!-- ============================================================== -->
  <!-- Logo - style you can find in header.scss -->
  <!-- ============================================================== -->
  <div class="navbar-header">
    <a class="navbar-brand" href="index.html">
      <!-- Logo icon -->
      <b>
        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
        <!-- Dark Logo icon -->
        <!--<img src="assets/images/icon/Artboard 15.png" alt="homepage" class="dark-logo">-->
        <!--&lt;!&ndash; Light Logo icon &ndash;&gt;-->
        <!--<img src="assets/images/icon/Artboard 15.png" alt="homepage" class="light-logo">-->
      </b>
      <!--End Logo icon -->
      <!-- Logo text -->
      <span fxShow="false" fxShow.gt-xs>
        <!-- dark Logo text -->
        <img src="assets/images/icon/logo.png" alt="homepage" class="dark-logo">
        <!-- Light Logo text -->
        <img style="max-height: 62px;" src="assets/images/icon/logo.png" class="light-logo" alt="homepage">
      </span> </a>
  </div>

  <span fxFlex></span>
  <!-- ============================================================== -->
  <!-- app header component - style you can find in header.scss / header.component.ts-->
  <!-- ============================================================== -->
  <app-header></app-header>
  <!-- ============================================================== -->
  <!-- Right sidebar toggle - style you can find in rightsidebar.component.scss -->
  <!-- ============================================================== -->
  <!--<button (click)="end.toggle()" mat-icon-button class="ml-xs overflow-visible">-->
  <!--<mat-icon>settings</mat-icon>-->
  <!--</button>-->
</mat-toolbar>

<div>
  <router-outlet>
    <div style="height: 4px !important;">
      <mat-progress-bar *ngIf="spinnerService.isLoading" style="height: 100% !important;" mode="indeterminate"></mat-progress-bar>
    </div>

    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <nav mat-tab-nav-bar mat-stretch-tabs>
              <a mat-tab-link [routerLink]="client.TRUCKS" routerLinkActive routerLinkActive="truck-tab" #truck="routerLinkActive" [active]="truck.isActive">
                <span style="display: contents">
                  <mat-icon class="mat-tab-icon">face</mat-icon>
                  &nbsp;&nbsp;Lista utenti
                </span>
              </a>
              <a mat-tab-link [routerLink]="client.COMPANIES" routerLinkActive="company-tab" #company="routerLinkActive" [active]="company.isActive">
                <span style="display: contents">
                  <mat-icon class="mat-tab-icon">location_city</mat-icon>
                  &nbsp;&nbsp;Lista aziende
                </span>
              </a>
              <a mat-tab-link>
                <span style="display: contents" [class.statistics-tab]="currentIndex === 2">
                  <mat-icon class="mat-tab-icon">assessment</mat-icon>
                  &nbsp;&nbsp;statistiche
                </span>
              </a>
              <a mat-tab-link>
                <span style="display: contents" [class.ads-tab]="currentIndex === 3">
                  <mat-icon class="mat-tab-icon">local_atm</mat-icon>
                  &nbsp;&nbsp;pubblicita
                </span>
              </a>
              <a mat-tab-link>
                <span style="display: contents" [class.pdf-tab]="currentIndex === 4">
                  <mat-icon class="mat-tab-icon">description</mat-icon>
                  &nbsp;&nbsp;carica PDF
                </span>
              </a>
              <a mat-tab-link>
                <span style="display: contents" [class.feedback-tab]="currentIndex === 5">
                  <mat-icon class="mat-tab-icon">insert_comment</mat-icon>
                  &nbsp;&nbsp;feedback
                </span>
              </a>
              <a mat-tab-link>
                <span style="display: contents" [class.notification-tab]="currentIndex === 6">
                  <mat-icon class="mat-tab-icon">notification_important</mat-icon>
                  &nbsp;&nbsp;notifiche
                </span>
              </a>
            </nav>
          </div>
        </div>
      </mat-card-content>
    </mat-card>


  </router-outlet>
</div>