<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img onError="this.src = 'assets/images/users/default-profile.svg'"
    [src]="'assets/images/users/default-profile.svg'"
    alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
  <!-- <a mat-menu-item>
    <mat-icon>account_box</mat-icon> Profile
  </a>
  <button mat-menu-item (click)="openChangePasswordDialog()">
    <mat-icon>vpn_key</mat-icon> Change Password
  </button> -->
  <button mat-menu-item (click)="logOut()">
    <mat-icon>exit_to_app</mat-icon> Sign Out
  </button>
</mat-menu>